@import "tailwindcss";

:root {
  --primary: #ffbd7f;
  --secondary: #FF7F11;
  --tertiary: #FFECDB;
  --background: #FFFFFC;
  --foreground: #000000;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffbd7f;
    --secondary: #FF7F11;
    --tertiary: #FFECDB;
    --background: #000000;
    --foreground: #FFFFFC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
